* {
	font-family: "Fredoka", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}

h1, h2, h3, h4, h5, h6 {
	font-family: headingFont, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Adwaita Sans, Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif;
	font-weight: 600;
	font-display: swap;
	font-style: bold;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	text-align: center;
}
h1 { font-size: 2.25rem; }
h2 { font-size: 1.875rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1.125rem; }
h6 { font-size: 1rem; }

body {
	background: 0px 0px / 20px 20px radial-gradient(#afafaf 0.5px,var(--secondary-bg-color) 1px);
	@apply flex;
	@apply flex-col;
}

body > * {
	@apply w-full;
}

pre, code {
	font-family: Menlo, Consolas, Monaco, Adwaita Mono, Liberation Mono, Lucida Console, monospace;
}

pre {
	margin: 1rem;
}

code {
	font-size: 0.9rem;
	padding: 0.1rem;
	background-color: var(--code-bg-color);
}

a {
	color: var(--color-root-link);
	text-decoration: none;
	display: inline-block;
	@apply border-solid;
	@apply border-b-2;
	@apply rounded-sm;
	border-color: var(--color-link-default);
}

.heading-banner {
	background-color: var(--banner-bg-color);
	color: var(--banner-fg-color);
	padding: 0.5rem;
	@apply flex;
	@apply flex-col;
	@apply items-center;
}

.heading-banner a {
	border: none;
}

.line-image {
	height: 3rem;
}

.page {
	padding: 0.5rem;
	@apply flex;
	@apply gap-2;
	@apply justify-center;
}

.page > .content {
	@apply flex-1;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-bottom: 1.5rem;
	padding-top: 0.5rem;
	max-width: 1000px;
}

.content > .note {
	color: var(--note-fg-color);
	background-color: var(--note-bg-color);
	border-left: 5px solid var(--note-border-color);
	padding: 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	@apply drop-shadow-md;
}

.content > .note h3 {
	color: var(--note-title-color);
}

.content > .warning {
	color: var(--note-fg-color);
	background-color: var(--note-bg-color);
	border-left: 5px solid var(--warning-border-color);
	padding: 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	@apply drop-shadow-md;
}

.content > .warning h3 {
	color: var(--warning-title-color);
}

.content ul {
	list-style-type: disc;
	padding-left: 1.5rem;
}

.content ol {
	list-style-type: decimal;
	padding-left: 1.5rem;
}

.content blockquote {
	@apply drop-shadow-md;
	border-left: 4px solid var(--color-lu-3);
	padding-left: 1rem;
	margin-left: 0;
	color: var(--color-root-text-secondary);
	background-color: #f9f9f9aa;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.content blockquote p {
	margin: 0;
	padding: 0.25rem 0;
}

.content p {
	margin-top: 0.5rem;
	margin-bottom: 0.75rem;
	line-height: 1.6;
	font-size: large;
}

.content img {
	max-width: 100%;
	height: auto;
	border-radius: var(--box-corner-radius);
}

.content figure {
	margin: 0;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	text-align: center;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.content figure img {
	border-radius: var(--box-corner-radius);
	margin-left: auto;
	margin-right: auto;
	@apply drop-shadow-md;
}

.content pre {
	@apply drop-shadow-md;
	background-color: #f0f0f0;
	padding: 0.75rem;
	overflow-x: auto;
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
}

.page > .sidebar {
	display: none;
}

.nav-wrapper {
	top: 1cap;
	margin: 0;
	padding: 1rem;
	padding-top: 1rem;
	border: 1px dashed var(--color-lu-4);
	border-radius: var(--box-corner-radius);
	background-color: var(--sidebar-bg-color);
	@apply drop-shadow-md;
}

.nav-wrapper h3 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	text-align: center;
}

.nav-wrapper hr {
	border: none;
	border-top: 1px dashed var(--color-lu-4);
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	margin-left: -1rem;
	margin-right: -1rem;
}

.nav-wrapper p {
	text-align: center;
}

.nav-wrapper p img {
	border-radius: 25%;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	@apply drop-shadow-md;
}

.table-of-contents {
	position: relative;
}

.table-of-contents a {
	text-decoration: none;
	color: var(--color-root-text-secondary);
}

.table-of-contents a:hover {
	border-color: var(--color-link-hover);
}

.table-of-contents ol {
	border: none;
	padding: 0;
	padding-left: 1rem;
	list-style-type: none;
}

.table-of-contents ol::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 3px; /* Adjust the width as needed */
	background-color: black; /* Change color as needed */
}

.page > .makecode-embed {
	padding: 2rem;
	@apply drop-shadow-md;
}

@media (min-width: 1024px) {
	h1, h2, h3, h4, h5, h6 {
		text-align: left;
	}

	.heading-banner {
		height: 4rem;
		padding-left: 2rem;
		padding-right: 2rem;
		@apply flex-row;
		@apply items-center;
		@apply justify-between;
		@apply gap-4;
	}

	.page > .sidebar {
		display: block;
		width: 20rem;
		padding: 0.5rem;
	}

	.page > .sidebar .sidebar-image {
		max-width: 200px;
	}	
}