<div class="sidebar sidebar-secondary">
    <div class="block-wrapper info-wrapper">
        <h2 style="text-align: center;">About</h2>
        <p>The sources for this documentation are available at <a href="{{ site.repository }}">GitHub</a> and is published under the {{ site.license }} license.</p>

        {%- if site.contributors and site.contributors | length > 0 -%}
            <p>Written by <a href="mailto:{{ site.author.email }}">{{ site.author.name }}</a> with contributions from:</p>
            <ul>
                {% for contributor in site.contributors %}
                    <li><a href="mailto:{{ contributor.email }}">{{ contributor.name }}</a></li>
                {% endfor %}
            </ul>
        {% else -%}
            <p>Written by {{ site.author }}</a></p>
        {%- endif -%}

        {%- if site.extra and site.extra.keywords and (site.extra.keywords | length) > 0 -%}
            <h3>Keywords</h3>
            <p>{{ site.extra.keywords | join(', ') }}</p>
        {%- endif -%}

        {%- if site.extra and site.extra.hwidx and (site.extra.hwidx | length) > 0 -%}
            <h3>Associated Artifacts</h3>
            <ul>
                {%- for hw in site.extra.hwidx -%}
                    <li><a class="no-decoration hwidx" href="https://{{ hw }}"><img src="https://m.{{ hw }}/logo-mark-horizontal.png" alt="https://{{ hw }}" /></a></li>
                {%- endfor -%}
            </ul>
        {%- endif -%}
    </div>
</div>