<div class="sidebar">
    <div class="block-wrapper nav-wrapper">
        <p>
            {%- if( image ) -%}
            <img src="{{ image | url }}" alt="{{ title | default('Image') }}" class="sidebar-image" />
            {%- endif -%}
            {%- if( description | default(site.description) ) -%}
                {{ description | default(site.description) }}
            {%- endif -%}
        </p>
        <p>
        {{ content | toc | safe }}
        </p>
    </div>
</div>